@use "core";
.sortItem{
    display: flex;
    justify-content: end;
    > select{
        @include core.SourceSansPro400;
        height: 36px;
        background: core.$color4;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 8px 16px;
        font-size: 12px;
        color: core.$color3;
        border: 0;
    }
}
@media screen and (max-width: 600px) {
    .sortItem {
        margin-top: 16px;
        > select{
            width: 100%;
        }
    }
}